<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<form action="#" method = 'post'>
<body>

<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('gdisconnect')}}">Click Here to Logout </a>
		</div>
	</div>

<div class="a" > </br></br></br><h1> Welcome to the Online Blood Bank</h1></div>

<div class="b">  <p>Blood is the part of life that is given to those who need it by those who have the resource to satisfy the need.
 The love of fellow human and a desire to share something of oneself is what singles out a blood donor from the others. Emergencies occur every minute. For each patient requiring blood, 
it is an emergency and the patients could have set back if blood is not available.</p>

<p>Your blood donation may be even more special than you realize A single donation from you can help one or more patients. 
This is possible because whole blood is made up of several useful components. These components perform special functions in your body and in the body of patients who receive your blood.</p>
</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<h2> The blood types that are available now in our bank are:</h2>

<div class="c">

<table>
  <tr>
    <th>Blood Type</th>
    <th>Status</th>
    <th> </th>
  </tr>
  {% for i in blood_types %}
  <tr>
  
    <td><a href = "{{url_for('showBloodType', bloodtype_id = i.id)}}">  {{i.name}}</a> </td>
    <td>{{i.status}}</td>
    <td><a href = "{{url_for('editBloodType', bloodtype_id = i.id)}}">Edit </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href = "{{url_for('deleteBloodType', bloodtype_id = i.id )}}">Delete </a></td>

  </tr>
 {% endfor %}
</table>



   



</br></br>
<a href = "{{url_for('newBloodType')}}">Add a Blood Type to the Bank </a>
</div>
   
</body>
</form>

</html>