
<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<script>
// JavaScript function to validate the form of adding new blood type to make sure that it is not empty
 
function validateForm() {
  var x = document.forms["myForm"]["name"].value;
  if (x == "") {
    alert("Blood type must be filled out");
    return false;
  }
  
  var y = document.forms["myForm"]["status"].value;
  if (y == "") {
    alert("Blood status must be filled out");
    return false;
  }
  
  var z = document.forms["myForm"]["description"].value;
  if (z == "") {
    alert("Blood description must be filled out");
    return false;
  }
  
  var a = document.forms["myForm"]["amount"].value;
  if (a == "") {
    alert("Blood amount must be filled out");
    return false;
  }
}
</script>

</head>


<form name="myForm" action="#" method = 'post' onsubmit="return validateForm()">
<body>

<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('gdisconnect')}}">Click Here to Logout </a>
		</div>
	</div>

<div class="a" > </br></br></br><h1> Welcome to the Online Blood Bank</h1></div>
<h1> Add new blood type </h1>
Blood Type : <input type="text" name="name" size = "6" ></br>
Status :  <input type="text" name="status" size = "30" ></br>
Description : <input type="text" name="description" size = "80" ></br>
Available Amount :  <input type="text" name="amount" size = "6" >  ml</br> 

<input type="submit" value="Add">    
   
<a href = "{{url_for('BloodBank')}}"> << Back </a>  
</body>
</form>

</html>